<p id="notice"><%= notice %></p>
<%= link_to 'List users', users_path %>
<%= gravatar_for @user %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', user_path(@user), method: :delete %> |
<% end %>
<%= link_to 'Log out ', logout_path, method: :delete %>
